streamlit==1.18.1
pandas==2.1.1
numpy==1.24.4
opencv-python-headless==4.8.0.74  # headless로 설치해 GUI 문제 방지
pytesseract==0.3.10
fpdf==1.7.2
scikit-learn==1.3.0
tensorflow-cpu==2.14.0  # CPU 전용 TensorFlow 사용
matplotlib==3.7.2
